/* GLOBAL */
* {
  /* --stylebot-color-ticket-title: #dae3d8; */
  --stylebot-color-ticket-title: #d3e8e6;
  /* --knowledge-base-color: #547084;
  --primary-color: #547084; */
  --knowledge-base-color: #223355;
  --primary-color: #223355;
  /* --navigation-active-background-color: #143c8a; */
  /* --navigation-active-background-color: #00a6e2; */
  --primary-text: #223355;
}

/* SCROLLBARS */
html {
  /* Chrome, Safari, Edge */
  ::-webkit-scrollbar {
    height: 1rem;
    width: .5rem;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 9999px;
  }
  ::-webkit-scrollbar-thumb {
    --tw-border-opacity: 1;
    background-color: rgba(217,217,232,.8);
    border-color: rgba(255,255,255,var(--tw-border-opacity));
    border-radius: 9999px;
    border-width: 1px;
  }
}

/* PRINTABLE */

@media print {
  /* PRINTABLE COMMON CLEANUP */

  /* Headers always with content */
  h1, h2, h3, h4, h5, h6 {
    -webkit-break-after: avoid;
    break-after: avoid
  }

  /* more common variation is
    body * {
        visibility: hidden;
    }
    */


  * {
    visibility: hidden;
  }


  iframe {
    display: none;
  }


  .tableGlobal tr td {
    white-space: normal;
  }


  /* PRINTABLE Article */


  .kb-item-content-wrapper-module__body--n6jg5 {
    padding: 0;
  }


  .kb-item-content-wrapper-module__body--n6jg5,
  .kb-item-content-wrapper-module__body--n6jg5 * {
    visibility: visible;
  }


  .kb-item-content-wrapper-module__body--n6jg5 {
    position: absolute;
    left: 0;
    top: 0;
  }


  #app-header,
  .kb-item-page-header-module__container--5atFF,
  .kb-article-view-module__expand--NI8XI,
  .kb-item-view-info-module__sections--nSuJh {
    display: none;
  }


  h1,
  h2,
  .kb-item-view-info-module__date--C5ez8,
  .kb-item-owner-view-module__owner--1NH48,
  .kb-article-footnote-module__publishDate--cC4wY {
    font-family: Verdana;
  }


  .kb-article-view-module__section--MEUXI {
    max-width: 100%;
  }


  /* PRINTABLE Ticket */
  ul.k-tabstrip-items.k-reset,
  button.btn.btn-link.description-content--trigger.ng-binding,
  p.commentsCollapse.text-uppercase.ng-scope,
  ul.attachmentsList,
  div.postComment.ng-scope {
    display: none;
  }


  h1.state1,
  h1.state1 *,
  h1.state2,
  h1.state2 *,
  h1.state3,
  h1.state3 *,
  h1.state4,
  h1.state4 *,
  h1.state5,
  h1.state5 *,
  h1.state6,
  h1.state6 *,
  span.ttBadge.ng-binding,
  span.ttBadge.ng-binding *,
  .contentContainer,
  .contentContainer * {
    visibility: visible;
  }


  .contentContainer {
    position: absolute;
    left: 0;
    top: 0;
  }


  .commentsPanel .existComment .commentTitle .addInfo .agent::after {
    display: none;
  }


  /* PRINTABLE Task */


  .contentContainer.corporateLongHeight,
  .taskSettingLine,
  p.lightColor.small {
    display: none;
  }


  h1.status,
  h1.status *,
  h1.status.state1,
  h1.status.state1 *,
  h1.status.state2,
  h1.status.state2 *,
  h1.status.state3,
  h1.status.state3 *,
  h1.status.state4,
  h1.status.state4 *,
  h1.status.state5,
  h1.status.state5 *,
  h1.status.state6,
  h1.status.state6 *,
  span.ttBadge,
  span.ttBadge * {
    visibility: visible;
  }
}

/* Contents button stick to the top in mobile view */
@media only screen and (max-width: 768px) {
  .kb-item-side-content-layout-module__expandButton--2NslK {
    position: static;
  }
}

/* COMMON RULES */

/* Article space between paragraphs */
.article-section-module__body--kqMjE p+* {
  margin-block-start: 0.85em;
  /* margin-block-end: .85em*/
}

/* Article space between lines */
.article-section-module__body--kqMjE {
  line-height: 1.5;
}

/* Links are inline-blocks */
a.ng-binding,
span.ticketName a,
.ng-scope td a {
  display: inline-block;
}


/* Word wrap */
a.ng-binding {
  white-space: normal;
}


/* Success edit button BG */
.btn-success {
    background-color: mediumseagreen;
}


/* MORE buttons */
/*.btn-default-custom,*/
.btn-primary,
.btn-primary-invert,
.langItem.active,
.searchButton,
.postBtn,
.hamburgerIcon,
.dashboard .tabsDashboards .k-tabstrip > .k-tabstrip-items .k-item.k-state-active {
    border-width: 0;
    background-color: var(--primary-color);
}

/* Search border dark */
.searchPanelKnwoledgeBase, .searchPanelKnwoledgeBaseV2 {
    border-color: var(--primary-color);
}

.k-item.k-state-active {
  border-width: 0;
}


.dashboard .tabsDashboards .k-tabstrip>.k-tabstrip-items .k-item.k-state-active>.k-link {
    text-shadow: none;
}


.tt-button-primary.legacy,
._lbsrge {
    background-color: royalblue;
}


/* List spacing */
li {
  margin-bottom: 10px;
}


/* Editable areas are resizeable and have inner shadow*/
.k-editable-area,
textarea {
  box-shadow: inset 0px 0px 10px gainsboro;
  resize: vertical;
}


.tox-edit-area__iframe {
  box-shadow: inset 0px 0px 10px gainsboro;
}


textarea {
  min-height: 300px;
}


textarea.tt-textarea.tt-input.tt-textarea-auto-resize.tt-textarea-none-resize {
  min-height: auto;
}


/* TinyMCE hacks */
.tox-statusbar__branding {
  display: none;
}


.tt-field-label {
  color: transparent;
}


.tox-editor-header {
  background-color: cornsilk;
  position: fixed;
  top: 75px;
  /* left: 25px; */
  margin: 0 auto;
  z-index: 2;
  box-shadow: 0 0 10px darkgoldenrod;
}


.tox-menubar {
  background-color: cornsilk;
}


.tox-toolbar__primary {
  background-color: cornsilk;
}


.tox-toolbar-overlord {
  background-color: cornsilk;
}


.learn-editor-form-module__settings--SzIKp {
  background-color: ghostwhite;
}


.learn-editor-form-header-module__header--8emfo {
  background-color: lightskyblue;
}


.learn-editor-translation-form-module__primary--CA9Aj {
  background-color: ghostwhite;
}


.article-section-edit-module__section--2\+QX7 {
  box-shadow: 0 0 10px gainsboro;
}


/* Static top on scroll in articles */
.app-header-legacy-module__withFlexContainer--sEWdv,
.kb-item-page-header-module__container--5atFF,
.kb-item-page-header-module__expired--o6pYj {
  position: static;
}

/* Article header color */
div.kb-item-page-header-module__container--5atFF {
  background-color: #d1e1f1;
}


/* Breadcrumps */
.breadcrumbs-module__highlightedText--pCVRG {
  white-space: normal;
}




/* Task title color */
a.ng-binding.ng-scope {
  white-space: normal;
  color: #4369dc;
}

/* Knowlege Base contents tree */
.knowledge-base-sidebar-item-module__title--TAk0D {
    white-space: normal;
}


/* Forms list title word wrap */
a.link.ng-binding {
  white-space: normal;
  color: #4369dc;
}


/* Article title word wrap */
.article-title__title {
  white-space: normal;
  color: #4369dc;
}


/* Table of contents word wrap */
/* before v2.15
span.article-table-of-contents-module__sectionTitle--Iz4DO {
  white-space: normal;
} */
.article-side-content-wrapper-module__articleSectionLink--8PNCG {
    overflow: visible;
    display: contents;
}

/* Related articles REMOVAL */
.related-articles-module__relatedArticles--1Q2O5 {
    display: none;
}

/* Article aside section */
.kb-item-content-wrapper-module__content--LZ1RU {
    gap: 20px;
    flex-direction: row-reverse;
}
.kb-item-content-wrapper-module__rightSideBarSections--KMPmG {
    max-height: calc(90vh - (var(--app-header-height) + var(--breadcrumbs-height)));
    gap: 20px;
    background-color: cornsilk;
    padding: 0px 20px 20px 20px;
    border-radius: 12px;
}
.article-side-content-wrapper-module__tableOfContentsTitle--qVJpU {
    border-bottom: 2px solid var(--layout-border-color);
}

/* Side section on small displays scrollable */
.kb-item-side-content-layout-module__content--AUaW4 {
    overflow: scroll;
}

/* Table of contents items spacing */
/* before v2.15
.article-table-of-contents-module__sectionLink--m70gX {
  height: auto;
  padding: 8px 16px;
}
*/

/* Related articles word-wrap */
.knowledge-base-item-link-module__title--6WZ11 {
    white-space: normal;
}

/* Table of contents max-width */
.article-table-of-contents-module__container--6vgPT {
  max-width: 25%;
}


/* Knowlege Base articles list word wrap */
a.text-ellipsis.ng-binding {
  white-space: normal;
  color: #4369dc;
}


a {
  transition: background 300ms ease-out;
}


a:not([class]):not([id]) {
  color: #4369dc;
}


span.textOverflow.ng-binding {
  color: #000000;
}


span.counter.ng-binding {
  color: #000000;
}


span.textOverflow {
  color: #000000;
}


div span a {
  /* font-weight: 700; */
  font-style: normal;
  /* font-size: 18px; */
  white-space: normal;
  /* color: #4369dc; */
}


span.linkStyle.hiddenOnHover.ng-binding {
  font-weight: 700;
  font-style: normal;
  /* font-size: 18px; */
  white-space: normal;
  color: #4369dc;
}


div ul h2 {
  display: none;
}


div.logPanel {
  display: none;
}


div ul hr {
  display: none;
}


button.user-utils-button {
  display: none;
}


button.notifications-button-legacy-module__button--rJraS {
  display: none;
}


h2.kb--top-section-title {
  display: none;
}


section.kb--top-section {
  padding-bottom: 15px;
  padding-top: 15px;
}


/* Article editor toolbar CONTAINER */
div.k-widget.k-window.k-window-titleless.k-editor-widget {
  position: fixed;
  top: 30px;
  left: 30px;
  height: 125px;
  width: 900px;
}


/* Article editor toolbar */
div.editorToolbarWindow.k-header.k-window-content.k-content {
  background-color: #cccccc;
}


.k-button.k-state-selected {
  border: none;
  background-color: #4369dc;
  color: lightgoldenrodyellow;
}

/* Tickets text size etc*/
.ng-binding.ng-isolate-scope {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5
}

/* Tickets list end */
td.goesEnd {
  color: #cccccc;
}


/* Title with buttons padding 
section.titleSection.ng-scope {
  padding-top: 5px;
  padding-bottom: 5px
} */

/* Ticket title section color */
section.titleSection.ng-scope {
  background-color: var(--stylebot-color-ticket-title);
}

.titleSection,
._tz7wgn {
  padding-top: 6px;
  padding-bottom: 6px;
}


/* Fixed size of paddings in all text containers */
div.contentContainer {
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
}


/* Agent name in comments */
a.agent.ng-binding {
  font-weight: 700;
  font-style: normal;
}


/* Comment is private */
span.pull-right {
  background-color: mistyrose;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  padding-left: 8px;
}


/* Ticket action modal right */
.actionModalTicket.moved {
  background-color: mintcream;
  box-shadow: 0 0 10px gainsboro;
}


.textAreaModal {
  border: none;
  padding: 0;
}


.textAreaModal .bottomBlock {
  border-top: none;
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
}


.textAreaModal textarea {
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
}


/* Attachment add in Tickets */
.k-dropzone {
  width: fit-content;
  background-color: blanchedalmond;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 5px;
  padding-bottom: 2px;
}


.k-upload .k-dropzone .k-upload-button .fa {
  margin-left: 0;
}


.k-upload .k-dropzone .k-upload-button {
  width: 100%;
}


.k-upload .k-dropzone .k-upload-button span {
  padding-top: 4px;
}


/* Tickets post area and buttons */


.k-state-focused {
  outline: none;
}


div.k-widget.k-upload.k-header.k-upload-empty {
  margin-top: 3px;
}


label.checkBox.labelPost {
  margin-top: 6px;
}


.validation-modal--contents {
  height: 100%;
}


.commentsPanel .postComment .postPanel .notifyAllcheckBox {
  margin-top: 12px;
}


.commentsPanel .postComment {
  margin-top: 25px;
  border: none;
}


.commentsPanel .postComment .postPanel .postBtn {
  border: 0;
}


button.postBtn {
  background-color: lightseagreen;
  border-radius: 4px;
  margin: 4px;
}


button.postBtn.postBtn-alt.m-r-10 {
  background-color: lightcoral;
  color: white;
  border-radius: 4px;
  margin: 4px;
}


/* Links hover */
a:hover,
button:hover,
.btn:hover,
button.postBtn.postBtn-alt.m-r-10:hover,
.k-dropzone:hover,
.k-item:hover,
.kb-tile--content:hover,
.tt-button-primary.legacy:hover {
  text-decoration: none;
  color: #4369dc;
  /* box-shadow: inset 0px 0px 0px 1px rgb(70,  130, 180, 0.25); */
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.5);
  background: papayawhip;
}


a:not(.btn):not(.kb-link):hover,
.ticketDetailsPage .description-content--trigger:hover,
#iLabel:hover,
#eLabel:hover,
#sLabel:hover,
#label-item-Support:hover,
#label-item-Execute:hover,
#label-item-Insights:hover {
  border-radius: 4px;
}


/* Widgets bottom hide */
div.dashboardPlatesConclusion {
  display: none;
}


/* Article - Author name and date */
div.kb-article-footnote-module__footnote--Z\+Q-l {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  flex-direction: column;
}


/* List selector height */
.k-animation-container {
  height: 402px;
}


.k-list-container {
  height: 400px;
}


.k-list-scroller {
  height: 332px;
}


/* Tasks editor toolbar */
ul.k-toolbar.k-editor-toolbar {
  background-color: cornsilk;
  box-shadow: 0 0 2px darkgoldenrod;
  /* display: none; */
}

/* Task source code editor window fitting */
div.k-widget.k-window.k-display-inline-flex {
  width: fit-content;
   height: fit-content;
}

.ticketDetailsTitle {
  padding-top: 16px;
}


.ticketDetailsContent {
  padding-bottom: 16px;
}


div.k-content.k-state-active {
  margin-top: 0;
}
