/* 
LATEST FIXES

Hovered items now have bolder text using tex-shadow
Table of contents - Active link more intense black (2)
Users list width fix
Mobile: KB articles list smaller paddings
KB folders - items max height (v3)
Mobile: KB folders smaller paddings
line-height: 1.2 for all forced text wraps
article-summary-list text wrap
Side section on small displays full height
Word wrap method changed to {text-wrap: balance} everywhere
Attachments labels fix
Table of contents - Active link more intense black
Table of contents color (4)
Lighter outline for focused text areas
KB folders - items max height (v2)
Table of contents space for scroller
*/

/* GLOBAL */
* {
  /* --stylebot-color-ticket-title: #dae3d8; */
  --stylebot-color-ticket-title: #d3e8e6;
  /* --knowledge-base-color: #547084;
  --primary-color: #547084; */
  --knowledge-base-color: #223355;
  --primary-color: #223355;
  /* --navigation-active-background-color: #143c8a; */
  /* --navigation-active-background-color: #00a6e2; */
  --primary-text: #223355;
  --link-color: #4369dc;
}

/* (+) icon bg color */
.tt-icon-button {
  background-color: var(--icon-button-background);
}

/* Removing awkward ";" symbol on bottom of the page */
.ticketDetailsPage,
.ticketsListPage {
    visibility: hidden;
}
.ticketDetailsPage *,
.ticketsListPage * {
    visibility: visible;
}

/* SCROLLBARS */
html {
  /* Chrome, Safari, Edge */
  ::-webkit-scrollbar {
    height: 1rem;
    width: .5rem;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 9999px;
  }
  ::-webkit-scrollbar-thumb {
    --tw-border-opacity: 1;
    background-color: rgba(217,217,232,.8);
    border-color: rgba(255,255,255,var(--tw-border-opacity));
    border-radius: 9999px;
    border-width: 1px;
  }
}

td {
  /* white-space: normal; */
  text-wrap: balance;
}

/* PRINTABLE */
@media print {
  /* PRINTABLE COMMON CLEANUP */
  /* Headers always with content */
  h1, h2, h3, h4, h5, h6 {
    -webkit-break-after: avoid;
    break-after: avoid
  }
  * {
    visibility: hidden;
  }
  iframe {
    display: none;
  }
  .tableGlobal tr td {
    /* white-space: normal; */
    text-wrap: balance;
  }

  /* PRINTABLE Article */
  .kb-item-content-wrapper-module__body--n6jg5 {
    padding: 0;
  }
  .kb-item-content-wrapper-module__body--n6jg5,
  .kb-item-content-wrapper-module__body--n6jg5 * {
    visibility: visible;
  }
  .kb-item-content-wrapper-module__body--n6jg5 {
    position: absolute;
    left: 0;
    top: 0;
  }
  #app-header,
  .kb-item-page-header-module__container--5atFF,
  .header-module__header--X182v,
  .app-header-module__header--dp0Gt,
  .kb-article-view-module__expand--NI8XI,
  .kb-item-view-info-module__sections--nSuJh {
    display: none;
  }
  h1,
  h2,
  .kb-item-view-info-module__date--C5ez8,
  .kb-item-owner-view-module__owner--1NH48,
  .kb-article-footnote-module__publishDate--cC4wY {
    font-family: Verdana;
  }
  .kb-article-view-module__section--MEUXI {
    max-width: 100%;
  }
  
  /* PRINTABLE Ticket */
  ul.k-tabstrip-items.k-reset,
  button.btn.btn-link.description-content--trigger.ng-binding,
  p.commentsCollapse.text-uppercase.ng-scope,
  ul.attachmentsList,
  div.postComment.ng-scope,
  div.sideArea,
  .attachDescription,
  .attachmentsPanel,
  .ticketDetailsPage .contentSection .sideArea {
    display: none;
  }
  h1.state1,
  h1.state1 *,
  h1.state2,
  h1.state2 *,
  h1.state3,
  h1.state3 *,
  h1.state4,
  h1.state4 *,
  h1.state5,
  h1.state5 *,
  h1.state6,
  h1.state6 *,
  span.ttBadge.ng-binding,
  span.ttBadge.ng-binding *,
  .contentContainer,
  .contentContainer * {
    visibility: visible;
  }
  .contentContainer {
    position: absolute;
    left: 0;
    top: 0;
  }
  .commentsPanel .existComment .commentTitle .addInfo .agent::after {
    display: none;
  }

  /* PRINTABLE Task */
  .contentContainer.corporateLongHeight,
  .taskSettingLine,
  p.lightColor.small {
    display: none;
  }
  h1.status,
  h1.status *,
  h1.status.state1,
  h1.status.state1 *,
  h1.status.state2,
  h1.status.state2 *,
  h1.status.state3,
  h1.status.state3 *,
  h1.status.state4,
  h1.status.state4 *,
  h1.status.state5,
  h1.status.state5 *,
  h1.status.state6,
  h1.status.state6 *,
  span.ttBadge,
  span.ttBadge * {
    visibility: visible;
  }
}

/* MOBILE VIEW */

@media only screen and (max-width: 768px) {
  /* Main content area paddings */
  .ticketDetailsPage .contentSection .mainArea {
    padding-left: 0;
    padding-right: 0;
  }
  /* KB home header height */
  .kb-home-header-module__headerWrapper--Ve8Z0 {
    height: 160px;
  }
  /* Ticket buttons layout fix */
  .ticketDetailsPage .titleSection .rightPart {
    flex-flow: wrap;
    justify-content: end;
  }
  /* Ticket filter button width */
  .ticketsListPage .ticketsList .ticketsListHead .ticketsFilter2Mobile .filterBtn span {
    width: fit-content;
    padding-left: 8px;
    padding-right: 8px;
  }
  /* Ticket tabs layout */
  .ttTabStrip .k-header .k-tabstrip-items {
    border: none;
    margin-bottom: 8px;
  }
  ul.k-tabstrip-items.k-reset {
    margin-left: 0;
    margin-right: 0;
    display: inline-flex;
    flex-flow: wrap;
    justify-content: center;
  }
  .ttTabStrip .k-header .k-tabstrip-items .k-item {
    background: none;
    border: solid 1px lightgray;
    border-radius: 8px;
    padding: 0;
    margin: 4px;
  }
  .ttTabStrip .k-header .k-tabstrip-items .k-item.k-state-active {
    border-radius: 8px;
    background-color: lightskyblue;
  }
  .ttTabStrip .k-header .k-tabstrip-items .k-item .k-link {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  /* Line height 1 for all headings */
  h1, h2, h3, h4, h5, h6,
  .learn-item-view-info-wrapper-module__title--nh30A,
  .article-section-module__title--5j05X {
    line-height: 1.2;
  }
  /* Widget title */
  .dashboard .dashboardPanel .tabContent .k-listview .listItem.widgetContainer .titleWidget {
    font-size: 0.8rem;
  }
  /* Contents button stick to the top in mobile view */
  .kb-item-side-content-layout-module__expandButton--2NslK {
    position: static;
  }
  /* Padding in KB sections menu */
  .kb-list-element-module__wrapper--ayYH\+ {
    height: auto;
  }
  .kb-list-element-module__card--HNdAG {
    padding: 20px 5px;
  }
  .knowledge-base-folders-module__folder--UVU7s {
    padding: 12px 16px 16px 20px;
  }
  .knowledge-base-article-list-module__article--neW8n {
    padding: 12px 16px;
  }
  /* Breadcrumbs max-width */
  .knowledge-base-view-header-module__header--8Z2Oz {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .breadcrumbs-leaf-module__breadcrumbsItem--1DUE1 {
    max-width: 85px;
  }
  /* Dropdown menus */
  .notifications-panel-module__panel--X7E\+K {
    height: unset;
    width: 100%;
    padding: 8px;
  }
  .notifications-panel-module__heading--FULoR {
    font-size: 18px;
  }
  .notifications-list-module__list--16c-V {
    padding-left: 16px;
    padding-right: 8px;
  }
  .notification-module__avatar--kHGok {
    display: none;
  }
  .notifications-panel-module__list--0h2bZ {
    margin-top: 16px;
    margin-right: -16px;
    margin-left: -16px;
    height: auto;
    max-height: calc(100vh - 200px);
    min-width: calc(100vw - 108px);
  }
  .notifications-panel-module__body--\+aC\+K tt-empty-state tt-svg-icon {
    padding-top: 36px;
  }
  .notifications-panel-module__clearAll--w1Y1V {
    margin-left: 16px;
  }
  .notification-module__prefix--TZDE- {
    padding-right: 12px;
    padding-left: 6px;
  }
  .notification-module__close--wgZ0z {
    margin-left: 4px;
  }
  /* Store Visit summary */
  .store-visits-summary-comments-module__tabs--yDApq,
  .store-visits-summary-task-module__title--T3Iho,
  .store-visits-summary-task-module__taskWrapper--PZqVd,
  .store-visits-summary-task-module__titleNamePart--627MF {
    display: block;
  }
  ._ievr4j {
    padding: 0px 10px;
  }
  .question-module__headerQuestion--e6xI\+ {
    padding: 14px 22px;
  }
  .question-module__questionField--rWeDO {
    padding: 0 22px 10px;
  }
  /* Calendar items */
  ._ub61tk {
    /* white-space: normal; */
    text-wrap: balance;
  }
  .list-view-module__event--TmLUh {
    height: fit-content;
  }
  /* My Work smaller header */
  .header-module__header--TFCkR {
    padding: 10px 12px;
  }
}

/* COMMON RULES */

/* Users list width fix */
.adminPage .mainContentContainer .contentAdminContainer {
  flex: 1;
}

/* Attachments labels fix */
.attachmentsList li .attachmentDescription,
.attachmentsPanel li .attachDescription .labelAttach,
.uploaded-attachment-module__title--bGOfT,
.attachment-preview-module__name--xryIZ {
  line-height: 1.2;
  /* white-space: normal; */
  text-wrap: balance;
}

/* KB home header height */
.kb-home-header-module__headerWrapper--Ve8Z0 {
  height: 160px;
}

/* Store Visit summary */
.store-visits-summary-header-module__title--CDSPT,
.store-visits-summary-score-by-section-module__questionTitle--9bg\+B,
.store-visits-summary-task-module__titleNamePart--627MF,
._afpq1s {
  /* white-space: normal; */
  text-wrap: balance;
}
.store-visits-summary-score-by-section-module__wrapper--tKaZI {
  padding: 20px 24px 28px;
}

/* Store Visit completion percentage items */
.store-visits-summary-score-by-section-module__questionSection--wiX0Q {
    flex-wrap: wrap;
}
.store-visits-summary-score-by-section-module__questionSectionScore--89kf4 {
  margin-top: 8px;
}

/* Store Visit completion title width */
.store-visits-summary-score-by-section-module__questionTitle--9bg\+B {
  max-width: 75%;
}
.store-visits-summary-score-by-section-module__failText--2LQE8,
.store-visits-summary-score-by-section-module__questionsRatio--tSAVw {
  /* white-space: normal; */
  text-wrap: balance;
}

/* Store Visit comment texarea */
.comment-edit-module__textarea--BO9yA {
    padding: 12px 16px;
}
.comment-edit-module__field--Uo8E4 {
    padding: 0;
}

/* Store Visit and Tickets header elements placing */
.ticketDetailsPage .titleSection .mainTitleArea {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.ticketDetailsPage .titleSection .mainTitleArea .leftPart {
    flex: 1;
    margin-right: auto;
}
.ticketDetailsPage .titleSection .mainTitleArea .leftPart h1 {
  line-height: 1.2;
}
.titleSection h1 {
  line-height: 1.2;
}

/* Store Visit header line height */
.store-visits-summary-header-module__title--CDSPT {
    line-height: 1.2;
}

/* Dashboard tables header */
.dashboard .dashboardPanel .tabContent .k-listview .listItem.widgetContainer th {
  font-size: 10px;
}

/* Dashboar tables rows and columns */
/* 
Older fix for News widget only
.dashboard .news-no-summary-table tbody tr {
  width: 100%;
  box-sizing: border-box; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dashboard .news-no-summary-table tbody td {
  display: flex;
  align-items: center; 
} */

/* All dashdoard widgets tables */
.widgetTable {
  display: flex;
  flex-direction: column;
}
/* .widgetTable thead,
.widgetTable tbody {
  display: flex;
  width: 100%;
} */
.widgetTable thead tr,
.widgetTable tbody tr {
  flex: 1;
  display: flex;
  align-items: center;
}
.widgetTable th,
.widgetTable td {
  flex: 1;
  display: flex;
  align-items: center;
  border-top: none;
  border-bottom: none;
}
/* Adjust the width of the first column */
.widgetTable th:first-child,
.widgetTable td:first-child {
  flex: 3; /* Set the first column to take some width */
}
/* Single row widget fix */
.dashboard .dashboardPanel .tabContent .k-listview .listItem.widgetContainer table.tableOverdue tr:not(:last-child) td {
  border-top: none;
  border-bottom: none;
}
/* Letter spacing */
.widgetTable td.text-ellipsis {
  letter-spacing: -0.03em;
}

/* Notification bell */
.notifications-panel-module__panel--X7E\+K {
  height: unset;
}
/* .notifications-panel-module__body--\+aC\+K, */
.notifications-panel-module__list--0h2bZ {
/* .notifications-list-module__list--16c-V { */
  height: auto;
  max-height: calc(100vh *2 / 3);
  /* overflow: hidden; */
}
.notifications-panel-module__header--VXCNa {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notifications-list-module__item--pR5ZC:not(:last-child) {
  margin-bottom: 20px;
  /* padding: 8px 0 !important; */
}
.notification-module__body--N5jXV {
  line-height: 20px;
}
.notifications-panel-module__body--\+aC\+K tt-empty-state span:nth-child(2) {
  text-align: center;
}
.notification-module__circle--4yBeT {
  /* box-shadow: 0 0 6px 4px lightgreen; */
  background-color: yellowgreen;
}

/* Article space between paragraphs */
.article-section-module__body--kqMjE p+* {
  margin-block-start: 0.85em;
  /* margin-block-end: .85em*/
}

/* Article space between lines */
.article-section-module__body--kqMjE {
  line-height: 1.5;
}

/* Links are inline-blocks */
a.ng-binding,
span.ticketName a,
.ng-scope td a {
  display: inline-block;
}

/* External articles names fix - not inline-block */
.newsItemAlone > h3 > .ng-binding {
  display: inline;
}

/* No word wrap in dropdown menu */
.dropdown-menu>li>a, .dropdown-menu>li>button {
  white-space: nowrap;
}

/* Success edit button BG */
.btn-success {
    background-color: mediumseagreen;
}

/* Ticket button color variations */
[data-ng-if="model.AllowedActions.assignToMe && !model.ticket.agent"] {
  background-color: goldenrod;
}
[data-ng-switch-when="Resolved"] {
  background-color: firebrick;
}

/* MORE buttons */
/*.btn-default-custom,*/
.btn-primary,
.btn-primary-invert,
.langItem.active,
.searchButton,
.postBtn,
.hamburgerIcon,
.dashboard .tabsDashboards .k-tabstrip > .k-tabstrip-items .k-item.k-state-active {
    border-width: 0;
    background-color: var(--primary-color);
}

/* Search border dark */
.searchPanelKnwoledgeBase, .searchPanelKnwoledgeBaseV2 {
    border-color: var(--primary-color);
}

.k-item.k-state-active {
  border-width: 0;
}

.dashboard .tabsDashboards .k-tabstrip>.k-tabstrip-items .k-item.k-state-active>.k-link {
    text-shadow: none;
}

.tt-button-primary.legacy,
._lbsrge {
    background-color: royalblue;
}

/* List spacing */
li {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Editable areas are resizeable and have inner shadow*/
.k-editable-area,
textarea {
  box-shadow: inset 0px 0px 10px gainsboro;
  resize: vertical;
  border-radius: 5px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Lighter outline for focused text areas */
.k-editable-area:focus-visible,
textarea:focus-visible {
  outline-color: gainsboro;
}

textarea {
  min-height: 300px;
}

/* Article title text area */
textarea.tt-textarea.tt-input.tt-textarea-auto-resize.tt-textarea-none-resize {
  min-height: auto;
  resize: none;
  font-size: 32px;
  font-family: "Averta","Futura","Gothic",sans-serif;
}

/* TinyMCE hacks */
.tox-editor-header {
  background-color: cornsilk;
  /* box-shadow: 0 0 10px darkgoldenrod;
  position: fixed;
  top: 10px;
  left: 10px;
  margin: 0 auto;
  max-width: calc(100vw - 20px);
  z-index: 4; */
}

.tox-statusbar__branding {
  display: none;
}

.tox-edit-area__iframe {
  box-shadow: inset 0px 0px 10px gainsboro;
}

.tt-field-label {
  color: transparent;
}

.tox-menubar {
  background-color: cornsilk;
}


.tox-toolbar__primary {
  background-color: cornsilk;
}

.tox-toolbar-overlord {
  background-color: cornsilk;
}

.learn-editor-form-module__settings--SzIKp {
  background-color: ghostwhite;
}

.learn-editor-form-header-module__header--8emfo {
  background-color: lightskyblue;
}

.learn-editor-translation-form-module__primary--CA9Aj {
  background-color: ghostwhite;
}

.article-section-edit-module__section--2\+QX7 {
  box-shadow: 0 0 10px gainsboro;
}

/* Static top on scroll */
#app-header,
.app-header-legacy-module__withFlexContainer--sEWdv,
.header-module__header--X182v,
.knowledge-base-view-header-module__header--8Z2Oz,
.app-header-module__header--dp0Gt,
.kb-item-page-header-module__container--5atFF,
.kb-item-page-header-module__expired--o6pYj,
.task-creation-page-header-module__wrapper--ytQlg {
  position: static;
}

/* Tack Creation Sidebar positioning */
.task-creation-module__sidebarContent--gZI\+Y {
    top: auto;
}
.collapsible-sidebar-module__content--lvHFx {
    top: 0;
    max-height: 100vh;
}

/* Left menu with articles tree */
.knowledge-bases-sidebar-module__sidebar--nbSc0 {
  top: 0;
  height: 100vh;
}

/* Article header color */
div.kb-item-page-header-module__container--5atFF {
  background-color: #d1e1f1;
}

/* Task title color */
a.ng-binding.ng-scope {
  /* white-space: normal; */
  text-wrap: balance;
  color: var(--link-color);
}

/* Task agent name not link colored now */
.addInfo a.agent.ng-binding {
  /* white-space: normal; */
  text-wrap: balance;
  color: var(--primary-color);
}


/* Task attashments roll color */
.attachmentsCollapse a {
  /* white-space: normal; */
  text-wrap: balance;
  color: var(--link-color);
}

/* Forms list title word wrap */
a.link.ng-binding {
  /* white-space: normal; */
  text-wrap: balance;
  color: var(--link-color);
}

/* Article title word wrap */
.article-title__title {
  /* white-space: normal; */
  text-wrap: balance;
  color: var(--link-color);
}

/* Tasks list items color */
.task-title-module__taskTitle--2eMeT {
  color: var(--link-color);
}

/* Table of contents word wrap */
.article-side-content-wrapper-module__articleSectionLink--8PNCG {
  overflow: visible;
  display: block;
}

/* Table of contents space for scroller */
.article-side-content-wrapper-module__articleSections--SF1Lj {
  margin-right: 8px;
}

/* Neat and balanced word-wrap in every section name */
.article-side-content-wrapper-module__articleSections--SF1Lj li {
  /* white-space: normal; */
  text-wrap: balance;
}

/* Related articles REMOVAL */
.related-articles-module__relatedArticles--1Q2O5 {
  display: none;
}

/* Article aside section */
.kb-item-content-wrapper-module__content--LZ1RU {
    gap: 20px;
    flex-direction: row-reverse;
}
.kb-item-content-wrapper-module__rightSideBarSections--KMPmG {
    /* max-height: calc(90vh - (var(--app-header-height) + var(--breadcrumbs-height))); */
    max-height: calc(100vh - 40px);
    gap: 20px;
    background-color: #ddeeff;
    padding: 0 20px 0 20px;
    /* margin: 20px 0 20px 0; */
    /* border: 2px gainsboro solid; */
    border-radius: 12px;
    top: 20px;
}
.article-side-content-wrapper-module__tableOfContents--hZ\+wE{
    padding: 20px 0 20px 0;
}
.article-side-content-wrapper-module__tableOfContentsTitle--qVJpU {
    border-bottom: 2px solid var(--layout-border-color);
}
/* Active link more intense black */
.article-side-content-wrapper-module__articleSectionActiveLink--22dCj {
    text-shadow: 0px 0px 1px mediumblue;
}

/* Side section on small displays scrollable and full height */
.kb-item-side-content-layout-module__content--AUaW4 {
    overflow: scroll;
    top: 0;
    height: 100vh;
}

/* Table of contents max-width */
.article-table-of-contents-module__container--6vgPT {
  max-width: 25%;
}

/* Knowlege Base articles list word wrap */
a.text-ellipsis.ng-binding {
  white-space: normal;
  color: var(--link-color);
}

/* Knowlege Base search results color */
.knowledge-base-search-item-module__title--XNTUf {
  color: var(--link-color);
}

div.knowledge-base-search-item-module__titleRow--RbSt8 a span {
  /* white-space: normal; */
  text-wrap: balance;
}

a {
  transition: background 300ms ease-out;
}

a:not([class]):not([id]) {
  color: var(--link-color);
}

span.textOverflow.ng-binding {
  color: #000000;
}

span.counter.ng-binding {
  color: #000000;
}

span.textOverflow {
  color: #000000;
}

div span a {
  /* font-weight: 700; */
  font-style: normal;
  /* font-size: 18px; */
  /* white-space: normal; */
  text-wrap: balance;
  /* color: var(--link-color); */
}

span.linkStyle.hiddenOnHover.ng-binding {
  font-weight: 700;
  font-style: normal;
  /* font-size: 18px; */
  /* white-space: normal; */
  text-wrap: balance;
  color: var(--link-color);
}

div ul hr {
  display: none;
}

button.user-utils-button {
  display: none;
}

button.notifications-button-legacy-module__button--rJraS {
  display: none;
}

h2.kb--top-section-title {
  display: none;
}

section.kb--top-section {
  padding-bottom: 15px;
  padding-top: 15px;
}

/* Article editor toolbar CONTAINER */
div.k-widget.k-window.k-window-titleless.k-editor-widget {
  position: fixed;
  top: 30px;
  left: 30px;
  height: 125px;
  width: 900px;
}

/* Article editor toolbar */
div.editorToolbarWindow.k-header.k-window-content.k-content {
  background-color: #cccccc;
}

.k-button.k-state-selected {
  border: none;
  background-color: var(--link-color);
  color: lightgoldenrodyellow;
}

/* Tickets text size etc*/
.ng-binding.ng-isolate-scope {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5
}

/* Tickets list font size */
span.ticketName a {
  font-size: 16px;
}

/* Tickets list heading width to fit one line */
.ticketsListPage .titleSection .titlePart {
  width: auto;
}

a.ng-binding, span.ticketName a, .ng-scope td a {
  color: var(--link-color);
}

/* Tickets list end */
td.goesEnd {
  color: #cccccc;
}

/* Title with buttons padding 
section.titleSection.ng-scope {
  padding-top: 5px;
  padding-bottom: 5px
} */

/* Ticket title section color */
section.titleSection.ng-scope {
  background-color: var(--stylebot-color-ticket-title);
}

.titleSection,
._tz7wgn {
  padding-top: 6px;
  padding-bottom: 6px;
}

/* Fixed size of paddings in all text containers */
div.contentContainer {
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

/* Agent name in comments */
a.agent.ng-binding {
  font-weight: 700;
  font-style: normal;
}

/* Comment is private */
span.pull-right {
  background-color: mistyrose;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  padding-left: 8px;
}

/* Ticket action modal right */
.actionModalTicket.moved {
  background-color: mintcream;
  box-shadow: 0 0 10px gainsboro;
}

.textAreaModal {
  border: none;
  padding: 0;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.textAreaModal .bottomBlock {
  border-top: none;
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.textAreaModal textarea {
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Attachment add in Tickets */
.k-dropzone {
  width: fit-content;
  background-color: blanchedalmond;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 5px;
  padding-bottom: 2px;
}

.k-upload .k-dropzone .k-upload-button .fa {
  margin-left: 0;
}

.k-upload .k-dropzone .k-upload-button {
  width: 100%;
}

.k-upload .k-dropzone .k-upload-button span {
  padding-top: 4px;
}

.k-upload .k-upload-files .k-file.k-file-success .k-file-name {
  color: var(--link-color)
}

/* Tickets post area and buttons */
.k-state-focused {
  outline: none;
}

div.k-widget.k-upload.k-header.k-upload-empty {
  margin-top: 3px;
}

label.checkBox.labelPost {
  margin-top: 6px;
}

.validation-modal--contents {
  height: 100%;
}

.postPanel {
  border: none;
}

.commentsPanel .postComment .postPanel .notifyAllcheckBox {
  margin-top: 12px;
}

.commentsPanel .postComment {
  margin-top: 25px;
  border: none;
}

.commentsPanel .postComment .postPanel .postBtn {
  border: 0;
}

button.postBtn {
  background-color: lightseagreen;
  border-radius: 4px;
  margin: 4px;
}

button.postBtn.postBtn-alt.m-r-10 {
  background-color: lightcoral;
  color: white;
  border-radius: 4px;
  margin: 4px;
}

/* Links hover */
a:hover,
button:hover,
.btn:hover,
button.postBtn.postBtn-alt.m-r-10:hover,
.k-dropzone:hover,
.k-item:hover,
.kb-tile--content:hover,
.tt-button-primary.legacy:hover {
  text-decoration: none;
  color: var(--link-color);
  /* box-shadow: inset 0px 0px 0px 1px rgb(70,  130, 180, 0.25); */
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.5);
  background: papayawhip;
  text-shadow: 0 0 1px currentColor;
}

a:not(.btn):not(.kb-link):hover,
.ticketDetailsPage .description-content--trigger:hover,
#iLabel:hover,
#eLabel:hover,
#sLabel:hover,
#label-item-Support:hover,
#label-item-Execute:hover,
#label-item-Insights:hover {
  border-radius: 4px;
}

/* Widgets bottom hide */
div.dashboardPlatesConclusion {
  display: none;
}

/* Article - Author name and date */
div.kb-article-footnote-module__footnote--Z\+Q-l {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  flex-direction: column;
}

/* List selector*/
.k-list-optionlabel {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* .k-animation-container {
  height: 402px;
}

.k-list-container {
  height: 400px;
}

.k-list-scroller {
  height: 332px;
} */

/* My Work tasks line wrap */
._5kaapu {
  flex-wrap: wrap;
}
._1wzyfkw {
  flex-shrink: 2;
  margin-bottom: 8px;
}

/* Tasks editor toolbar */
ul.k-toolbar.k-editor-toolbar {
  background-color: cornsilk;
  box-shadow: 0 0 2px darkgoldenrod;
  /* display: none; */
}

/* Task source code editor window fitting */
div.k-widget.k-window.k-display-inline-flex {
  width: fit-content;
   height: fit-content;
}

/* Ticket side panel and Task additionsl info - useless sections removed */
.sideArea div:nth-child(2) ul h2,
.logPanel {
  display: none;
}

.ticketDetailsTitle {
  padding-top: 16px;
}

.ticketDetailsContent {
  padding-bottom: 16px;
}

div.k-content.k-state-active {
  margin-top: 0;
}

/* Task description content */
div.ticketDetailsContent p.ng-binding {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5
}

/* Task requrements summaby button */
.requirementsSummaryButton {
  color: whitesmoke;
}

/* Word wraps */
a.ng-binding,
._1gobrn0,
._1ayhren,
.checkbox-option-with-addon-module__row--LEN7F>.checkbox-option-with-addon-module__optionLabel--exSjI,
.checkbox-option-with-addon-module__row--LEN7F.checkbox-option-with-addon-module__active--cUpex>.checkbox-option-with-addon-module__optionLabel--exSjI,
.checkbox-option-with-addon-module__row--LEN7F.checkbox-option-with-addon-module__active--cUpex>.checkbox-option-with-addon-module__count--BbPVB,
.checkbox-option-with-addon-module__row--LEN7F:hover.checkbox-option-with-addon-module__active--cUpex>.checkbox-option-with-addon-module__optionLabel--exSjI,
.checkbox-option-with-addon-module__row--LEN7F:hover.checkbox-option-with-addon-module__active--cUpex>.checkbox-option-with-addon-module__count--BbPVB,
.checkbox-option-module__label--oVWzc,
/* Users list */
span.hiddenOnHover.ng-binding,
/* Related articles word-wrap */
.knowledge-base-item-link-module__title--6WZ11,
/* Knowlege Base contents tree */
.knowledge-base-sidebar-item-module__title--TAk0D,
.kb-list-element-module__title--XCprQ,
.kb-list-element-module__description--AWe23,
.kb-list-element-module__count--xD9NR,
.article-summary-list-module__title--im3OK,
/* Breadcrumps */
.breadcrumbs-module__highlightedText--pCVRG,
.breadcrumbs-leaf-module__highlightedText--Vwl+D,
.breadcrumbs-leaf-module__breadcrumb--KaQB1,
.survey-table--cell,
.titleWidget,
.ticketsListPage .titleSection .titlePart h1,
.ticketDetailsPage .titleSection .leftPart h1
{
  /* white-space: normal; */
  text-wrap: balance;
  line-height: 1.2;
}

/* Calendar items word wrap and items height in mobile view */
.filter-on-radiobuttons-module__optionValue--OovSS {
  /* white-space: normal; */
  text-wrap: balance;
  line-height: 1.2;
}

/* Breadcrumps fix for small screen */
.breadcrumbs-leaf-module__breadcrumbsItem--1DUE1 {
  max-height: 48px;
  flex-wrap: wrap;
  line-height: 1.2;
  /* max-width: min-content; */
}
/* Not to display last breadcrump in Learn */
.breadcrumbs-module__breadcrumbs--4SQyq>*:last-child {
    display: none;
}
/* Not to display last breadcrump's ">" sign in Learn */
.breadcrumbs-module__breadcrumbs--4SQyq tt-svg-icon.breadcrumbs-module__chevronIcon--CdyGM:last-of-type {
  display: none;
}

/* KB folders max width */
.knowledge-base-folders-module__folder--UVU7s {
  max-width: calc(100vw - 48px);
}

/* KB folders - items max height */
.knowledge-base-articles-in-folder-module__article--dl3Lm {
  max-height: fit-content;
}
.knowledge-base-articles-in-folder-module__article--dl3Lm:hover {
  background-color: initial;
  padding: initial;
  margin-left: initial;
  margin-right: initial;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Calendar on wide screens - items word wrap and line height, row height */
.event-module__event--E62nR span:last-child {
  /* white-space: normal; */
  text-wrap: balance;
  line-height: 1.2;
}
.event-module__shortEvent--vgtmB {
    height: fit-content;
}
.scheduler-row-module__layers--NVaI0 {
    height: fit-content;
}
